.navigationBar {
    width: 100%;
    background-color: #2e3047;
    color: #3bba9c;
}

.nav {
    height: 8vh;
    display: flex;
    justify-content: center;
    align-content: center;
}

.nav-item {
    text-decoration: none;
    font-size: x-large;
    margin-right: 20px;
    color:#3bba9c

}