
.icon {
    margin-top: 15px;
    margin-right: 3px;
    font-size: 30px;
    color: white;
}

.footer{
    max-width: 100%;
    padding: 0;
    height: 8vh;
    background-color: #707793;
    color: #3bba9c;
    text-align: center;
    
  }